{% extends "employee_register/base.html"%}
{% load crispy_forms_tags %}
{% block content%}
<form action="" method="POST" autocomplete="off">
{% csrf_token %}
<!-- {{form|crispy}} -->
<div class="row">
    <div class="col-md-12">{{form.title|as_crispy_field}}</div>
        <div class="col-md-6"><button type="submit" class="btn btn-success bt-block btn-lg">
            <i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp;Save</button>
        </div>
        <div class="col-md-6"><a class="btn btn-danger bt-block btn-lg" href="{% url 'employee_list'%}">
            <i class="fa fa-list" aria-hidden="true"></i>&nbsp;Back to List</a>
        </div>
</div>
</form>
{% endblock content%}